<form action="names" method="post">

 <input type="number" id="fnames" oninput="makeBoxes()"/ required>
 <input type="submit"> 
  <div id="boxes"></div> 
  </form>
</head>

<script>
  function makeBoxes(){
   // parseInt makes sure that the number entered not gets treated like a string
   var numberOfBoxes=parseInt(document.getElementById('fnames').value, 10);
   var boxesHTML="";

   var boxesString="<input type='text'/ name ='name[]'/ required>"
   console.log(numberOfBoxes);
   for (var i=1; i<=numberOfBoxes; i++){
       boxesHTML+=boxesString + "<br>";;
   }
   document.getElementById('boxes').innerHTML=boxesHTML;
}

</script>

lyle, jacob, jeremy, ysabele, lotfi, cyndi, don, stephanie, susan, adam, mike, maxx, john